form {
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

form input {
    margin-bottom: 20px;
    height: 50px;
    font-size: 20px;
    width: 100%;
    border-radius: 5px;
    color: #b41d2f;
}

form button{
    width: fit-content;
}